* {
	box-sizing: border-box;
}

body {
background-color: #232323;
}

#header {
  text-align: center;
  background-color: steelblue;
}

h1 {
	color: pink;
}

h3 {
  color: white;
}

#message {
  color: white;
}

.container {
	margin: 0 auto;
	width: 600px;
}


.square {
width: 30%;
margin: 1.6%;
background-color: green;
float: left;
height: 150px;
border-radius: 25px;
}